@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(70, 142, 236); 
}

header {
    text-align: center;
    color: #ffffff;
}

section {
    display: flex;
    flex-flow: column;
    max-width: 500px;
    margin: auto;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div#formulario{
    display: flex;
    flex-flow: row;
    padding: 3px;
    gap: 5px;
}

div#res{
    display: flex;
    flex-flow: row;
    padding: 3px;
    gap: 5px;
}

div#res > textarea{
    overflow: hidden;
}

footer{
    text-align: center;
    color: #ffffff;
    font-style: italic;
}