@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(70, 142, 236);

}

header {
    color: #ffffff;
    text-align: center;
}

section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: auto;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div {
    padding: 8px;
}

footer {
    text-align: center;
    color: #ffffff;
    font-style: italic;
}