@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(70, 142, 236); 
}

header {
    text-align: center;
    color: #ffffff;
}

section {
    display: flex;
    flex-flow: column;
    max-width: 500px;
    margin: auto;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div#formulario > div{
    padding: 5px;
}

div#res{
    width: 250px;
    padding: 5px;
    margin: 5px auto;
    text-align: center;
}

div#res > img{
    width: 250px;
    height: 250px;
    margin-top: 5px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

footer{
    text-align: center;
    color: #ffffff;
    font-style: italic;
}