@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(70, 142, 236);
    
}

header {
    text-align: center;
    color: #ffffff;
}

section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div#imagem {
    width: 120px;
    height: 120px;
    margin-top: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

footer{
    text-align: center;
    color: #ffffff;
    font-style: italic;
}